div.left {
    width: 50%;
    height: 100%;
    float: left;
}

div.right {
    margin-left: 50%;
    height: 100%;
}

.hidden {
    display:none;
}

div.frame div,pre {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(221, 221, 221);
    margin-top: 0px;
}

.console {
    overflow-y:scroll;
}

div.frame  label {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(221, 221, 221);
}

div.license {
    color: rgb(180,180,180);
    margin: 20px;
    font-size: 0.7em;
}

div.license a:link {
    color: rgb(180, 180, 238)
}


div.license a:visited {
    color: rgb(220, 180, 220)
}

div.sublicense {
    margin-left: 40px;
}
